/* 设置 Waline 样式 */
:root{
  /* 主题色 */
  --waline-theme-color:#2196f3 !important;
  --waline-active-color:#80d6ff  !important;
  /* 选中输入框时的背景 */
  --waline-bgcolor-light: var(--waline-bgcolor) !important;
  /* 提交中按钮背景 */
  --waline-disable-bgcolor: #444 !important; 
  /* 博主/置顶徽章背景 */
  --waline-badge-color: var(--waline-theme-color) !important;
}
  /* 提交按钮文本 */
div.vfooter > div.vinfo > button.vbtn.primary{
  color: #fff !important;
}
  /* 博主的网站链接旁的绿勾勾小图标 */
svg.verified-icon{
  display:none;
}
  /* 评论者UA */
div.vmeta{
  display:none;
}
  /* 竖的虚线 */
div.vquote {
  border-left-color: var(--waline-border-color) !important;
}