
/* 设置 Artitalk 说说样式 */
  /* 头像 */
span.shuoshuo_author_img {
  display:none;
}
  /* 卡片 */
.cbp_tmtimeline>li .cbp_tmlabel,#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel{
  background-color: #e8e8e8 !important;
  margin-left: 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.01em !important;
  margin: 0 0 40px 0px !important;
  border-radius: 0.25rem !important;
  box-shadow: none !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
}
  /* 加载中 */
#artitalk_main {
    margin-bottom: 90px;
    margin-top: 35px;
}
#lazy {
  top: 50px !important;
}
  /* 处理卡片左边的三角 */
.cbp_tmtimeline>li .cbp_tmlabel:after{
  border-right-color: #e8e8e8 !important;
}
  /* 卡片悬停 */
.cbp_tmlabel {
  transform: translateY(0px) !important;
}
  /* 卡片分割线 */
p.shuoshuo_time {
  border-top-color: #2c3e50 !important;
  padding-top: 10px !important;
  margin-top: -7px !important;
}
  /* 卡片右上角删除按钮 */
.delete_right{
  right: 25px !important;
}
  /* 按钮 */
#operare_artitalk .at_button, #artitalk_main .at_button {
  border-radius: 20px !important;
  box-shadow: none !important;
  margin-top: -7px !important;
}
  /* 添加表情按钮 */
#loadEmoji {
  display: none !important;
}
  /* 底边距 */
p {
  margin-bottom: 1em !important;
}
  /* 右下三个按钮 */
.power {
  display: none !important;
}